background_boton()
	filter unquote('progid:DXImageTransform.Microsoft.gradient( startColorstr='#006666', endColorstr='#003333',GradientType=0 )')
background_header()
	filter: unquote('progid:DXImageTransform.Microsoft.gradient( startColorstr='#003333', endColorstr='#003333',GradientType=1 )')

header
	background url('../img/transparent_1x1.png')